/*@import "tailwindcss";*/


/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Simple reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a; /* dark cinema black */
  color: #e0e0e0; /* light gray */
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
